.wrapper {
  font-family: Montserrat Alternates;
  max-width: 1920px;
  width: 100%;
  background-color: #030F1B;
  color: #ECFAFD;
  font-weight: 700;
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1740px;
  width: 100%;
}

.headCont {
  height: 125px;
  display: flex;
  align-items: center;
  // .headCont__Logo

  &__Logo {
    margin-right: auto;
    border: 1px solid #F6C544;
    border-radius: 3px;
    color: #F6C544;
    background: #323232;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    // .headCont__Logo_img
    &_img {
      padding: 0 7px;
    }

    // .headCont__Logo_text
    &_text {
      padding: 0 5px;
      font-weight: 500;
      white-space: nowrap;
      font-size: medium;
      line-height: 25px;
      letter-spacing: 2px;
      font-size: 21px;
    }
  }

  // .headCont__menu
  &__menu {
    display: flex;
    justify-content: space-around;
    max-width: 730px;
    width: 100%;

    // .headCont__menu_item
    &_item {
      color: #ECFAFD;
      font-size: 28px;
      font-style: normal;
      line-height: 34px;
      letter-spacing: 0.05em;
      white-space: nowrap;

      &:hover {
        color: #F6C544;
      }
    }
  }

  // .headCont__korzina
  &__korzina {}

  .wrap {
    margin-left: auto;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 23px;
      left: 21px;
      width: 20px;
      height: 20px;
      background-color: #F6C544;
      border-radius: 50%;
    }

    &::after {
      content: "1";
      position: absolute;
      top: 24px;
      left: 28px;
      color: white;
    }
  }

  // .headCont__phone
  &__phone {
    display: flex;
    align-items: center;
    margin-left: auto;

    // .headCont__phone_img
    &_img {
      cursor: pointer;
      margin-right: 15px;
    }

    // .headCont__phone_text
    &_text {
      white-space: nowrap;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.05em;
      padding: 0 5px;
      border-bottom: 1px solid #38D3F4;
    }
  }
}

.mainCont {
  display: flex;
  margin-bottom: 70px;

  // .mainCont__cont
  &__cont {

    // .mainCont__cont_title
    &_title {
      font-size: 80px;
      line-height: 98px;
      letter-spacing: 0.05em;
      text-align: left;
      margin-top: 150px;
      margin-bottom: 20px;
    }

    // .mainCont__cont_subTitle
    &_subTitle {
      font-family: Rubik;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.05em;
      margin-bottom: 40px;
    }

    // .mainCont__cont_menu
    &_menu {
      display: flex;
      margin-bottom: 290px;
    }

    // .mainCont__cont_menu-btn
    &_menu-btn {
      background-color: #F6C544;
      border-radius: 10px;
      padding: 25px 120px;

      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.05em;
      color: white;
    }

    // .mainCont__cont_menu-video
    &_menu-video {
      display: flex;
      align-items: center;
      margin: 0 auto;
    }

    // .mainCont__cont_subs
    &_subs {
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0.05em;
      margin-bottom: 30px;
    }

    // .mainCont__cont_social
    &_social {
      width: 180px;
      display: flex;
      justify-content: space-between;
    }

    // .mainCont__cont_social-item
    &_social-item {}
  }

  // .mainCont__img
  &__img {
    margin-left: auto;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../img/neonLine.svg);
      background-size: contain;
      background-position: center right;
      background-repeat: no-repeat;
    }

    // .mainCont__img_img
    &_img {}
  }
}

.txt {
  margin-right: 25px;
  white-space: nowrap;
}

.sect1__title {
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: bold;
  line-height: 59px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

// ТАБЫ - начало
.tabs {}

.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  width: 600px;

  margin-bottom: 40px;
  font-family: Montserrat Alternates;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
}

.tabs__link {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: white;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.tabs__link_active {
  color: #F6C544;
  cursor: default;
  border-bottom: 2px solid #F6C544;
}

.tabs__link:not(.tabs__link_active):hover,
.tabs__link:not(.tabs__link_active):focus {}

.tabs__content {
  padding: 1rem;
}

.tabs__pane {
  display: none;
}

.tabs__pane_show {
  display: block;
}

// ТАБЫ - Конец
.sect1__menuLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.sect1__menuLine_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 810px;
  width: 100%;
  height: 100%;
  margin: 0 auto 50px;
}

.sect1__menuLine_item {
  max-width: 390px;
  width: 100%;
  height: 450px;
  position: relative;
  border: 3px solid #38D3F4;
  box-shadow: 0 0 10px #38D3F4;
}

.back {
  position: absolute;

  // .back__img
  &__img {
    width: 100%;
    object-fit: fill;
    object-position: center;
    margin-bottom: 20px;
  }

  // .back__title
  &__title {
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    margin-left: 15px;
  }

  // .back__text
  &__text {
    margin: 0 15px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    height: 100px;
    overflow: hidden;
  }

  // .back__price
  &__price {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: end;
    margin-right: 15px;
  }
}

.hiden {
  display: none;
}

.front {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #323232 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;

  &:hover {
    opacity: 0.9;
  }

  // .front__text
  &__text {
    margin: 226px auto 30px;
    color: #F6C544;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.05em;
    cursor: pointer;

    &:hover {
      color: #b98709;
    }
  }

  // .front__counter
  &__counter {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 5px;
    max-width: 210px;

    &_minus,
    &_plus {
      color: black;
      padding: 10px 20px;
      cursor: pointer;
    }

    // .front__counter_minus
    &_minus {}

    // .front__counter_count
    &_count {
      font-family: Rubik;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 33px;
      letter-spacing: 0.05em;

      color: #F6C544;
      padding: 3px 20px;
    }

    // .front__counter_plus
    &_plus {}
  }
}

.currect {
  height: 72px;
}

.showMoreBtn {
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.05em;

  cursor: pointer;
  background-color: unset;
  padding: 20px 15px;
  border: 1px solid #F6C544;
  border-radius: 20px;
  color: #fff;
  margin: 0 auto 100px;
  display: block;

  &:hover {
    background-color: #755400;
  }
}

.sect2 {
  margin-bottom: 60px;

  // .sect2_title
  &_title {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
  }

  // .sect2__cont
  &__cont {
    display: flex;
  }
}

.leftSide {

  // .leftSide__img
  &__img {
    margin-bottom: 20px;
  }

  // .leftSide__adres
  &__adres {
    font-family: Rubik;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #F6C544;
    text-align: right;
    margin-bottom: 10px;
  }

  // .leftSide__arientyr
  &__arientyr {
    font-family: Rubik;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: right;
  }
}

.rightSide {
  margin-left: 200px;

  // .rightSide__title
  &__title {
    margin-bottom: 20px;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.05em;
  }

  // .rightSide__items
  &__items {

    // .rightSide__items_item
    &_item {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 20px;
    }
  }

  // .rightSide__text
  &__text {
    margin-bottom: 40px;
    padding-bottom: 5px;
    border-bottom: 3px solid #38D3F4;
  }
}

.item {

  // .item__adres
  &__adres {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.05em;

    &:hover {
      color: #b98709;
    }
  }

  // .item__workTime
  &__workTime {
    margin-left: 40px;
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.05em;
  }
}

.sect3 {

  // .sect3__title
  &__title {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
  }
}

.sect3Cont {}

.sect3Cont-firstLine {
  display: flex;
  // justify-content: space-between;
  margin-bottom: 40px;
}

.first {
  margin-right: 20%;
}

.sect3Cont-secondLine {
  display: flex;
  margin-bottom: 150px;
}

.sec {
  margin-left: 20%;
}

.foth {
  margin-left: 20%;
}

.advantage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;

  // .advantage__number
  &__number {
    font-family: Rubik;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.05em;
    width: 60px;
    height: 60px;
    margin-right: 30px;
    padding: 11px 21px;
    color: #fff;
    background-color: #F6C544;
    border-radius: 50%;
  }

  // .advantage__title
  &__title {
    color: #F6C544;
  }

  // .advantage__text
  &__text {}
}

.advWrap {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.sect4 {
  display: flex;
  align-items: center;
}

.sect4Cont {

  // .sect4Cont__firstLine
  &__firstLine {
    display: flex;
    margin-bottom: 30px;

    // .sect4Cont__firstLine_text1
    &_text1 {
      font-size: 48px;
      line-height: 59px;
      letter-spacing: 0.05em;
      width: 590px;
      padding-right: 150px;
    }

    // .sect4Cont__firstLine_text2
    &_text2 {
      font-family: Rubik;
      font-size: 48px;
      font-weight: 900;
      line-height: 62px;
      letter-spacing: 0.1em;
    }
  }

  // .sect4Cont__secondLine
  &__secondLine {
    display: flex;

    // .sect4Cont__secondLine_text
    &_text {
      font-family: Rubik;
      font-size: 22px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0.05em;
    }

    // .sect4Cont__secondLine_btn
    &_btn {
      font-family: Rubik;
      font-size: 24px;
      font-weight: 500;
      line-height: 31px;
      letter-spacing: 0.1em;
      color: #fff;
      padding: 15px 30px;
      background-color: #F6C544;
      border-radius: 10px;
      white-space: nowrap;
      height: min-content;
    }
  }
}

.sect4Img {}

.newIcon {
  position: relative;

  &::after {
    content: "Новинка";
    position: absolute;
    top: 15px;
    left: 22px;
    color: #fff;
    width: 70px;
    height: 15px;

    font-family: Rubik;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.1em;
  }
}